---
import { Image } from 'astro:assets';
import LogoImage2 from "../assets/Logo/logo-Wondertech.webp";
const currentYear = new Date().getFullYear();
---

<footer class="bg-black text-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center justify-between">
      <!-- Contenedor para logo y botón -->
      
      
      <!-- Copyright centrado debajo -->
      <div class="w-full text-center">
        <p class="text-sm text-white">
          Copyright © {currentYear} We Are Wondertech. All rights reserved.
        </p>
        <p class="text-sm text-white">
          Diseñado por <a href="https://okdaru.com" class="hover:underline">okdaru.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>