---

import ThumbsUpIcon from '../assets/icon/TablerThumbUp.astro';
import Link from "./ui/link.astro";

---

<div class="bg-blue-950 grid place-items-center pt-16 pb-8 md:pt-12 md:pb-12 justify-center ">

<h1 class="text-5xl pb-8 lg:text-6xl xl:text-5xl font-semibold leading-tight text-center">
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-amber-500 to-amber-600 tracking-tighter">
 <span class="text-white bg-clip-text text-blue-950 tracking-tighter"> ¿Quieres ser parte de nuestra comunidad?</span>
</h1>
<Link href="/Unete" class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-950 rounded-lg overflow-hidden focus:ring-4 focus:outline-none focus:ring-blue-300 transition-all duration-200 ease-in-out group">
  <span class="relative z-10">
    <ThumbsUpIcon class="inline-block w-5 h-5 mr-2" />
    Únete
  </span>
  <span class="absolute inset-0 bg-gradient-to-r from-amber-500  to-amber-600 opacity-100 group-hover:opacity-100 transition-opacity duration-200 ease-in-out"></span>
  <span class="absolute inset-0 bg-blue-950 m-[2px] rounded-lg group-hover:bg-transparent transition-all duration-200 ease-in-out"></span>
</Link>
 